<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/accountUpdate.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>Edit Profile</title>
</head>
<body>


    <div class="sidePanel">
        <div class="backBtn">
            <i class='bx bx-arrow-back'></i>
            <a href="{% url 'mainHomePage' %}">Home</a>
        </div>
        <div class="mainBtns">
            <a href="{% url 'update_account' %}"><i class='bx bx-detail' ></i>Personal Details</a>
            <a href="{% url 'change_username' %}" ><i class='bx bx-user'></i>Change Username</a>
            <a href="{% url 'change_password' %}" ><i class='bx bx-lock'></i>Change Password</a>
            <a href="{% url 'change_image' %}" class="backgroundWhite"><i class='bx bx-images' ></i>Change Profile Image</a>
            <a href="{% url 'change_interest' %}"><i class='bx bx-like' ></i>Change Interest</a>
        </div>

    </div>

    <div class="content">


        <div class="changeProfile">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% if user.profile.image %}
                    <input type="file" src="{{ user.profile.image }}" id="imageUpload" name="imageUpload" accept="image/*" hidden>
                {% else %}
                    <input type="file" id="imageUpload" name="imageUpload" accept="image/*" hidden>
                {% endif %}
                <div class="img-area selectImage" data-img="">
                    <i class='bx bxs-cloud-upload icon'></i>
                    <h3>Upload Profile Picture</h3>
                    <p>Click to upload image</p>
                </div>
                <input type="submit" value="Upload Image" class="submitBtn">
            </form>
        </div>



    </div>








    <script>
        const selectImage = document.querySelector('.selectImage');
        const inputFile = document.querySelector('#imageUpload');
        const imgArea = document.querySelector('.img-area');
        const defaultImageUrl = inputFile.src;
        const backButton = document.getElementById('back-button');
        if (backButton) {
            backButton.addEventListener('click', () => {
                window.history.back(); // Navigate to the previous page in history
            });
        }

        selectImage.addEventListener('click', function () {
            inputFile.click();
        })

        {% if user.profile.image %}
            const defaultImg = document.createElement('img');
            defaultImg.src = defaultImageUrl;
            imgArea.appendChild(defaultImg);
        {% endif %}


        inputFile.addEventListener('change', function () {
            const image = this.files[0]
            if(true) {
                const reader = new FileReader();
                reader.onload = ()=> {
                    const allImg = imgArea.querySelectorAll('img');
                    allImg.forEach(item=> item.remove());
                    const imgUrl = reader.result;
                    const img = document.createElement('img');
                    img.src = imgUrl;
                    imgArea.appendChild(img);
                    imgArea.classList.add('active');
                    imgArea.dataset.img = image.name;
                }
                reader.readAsDataURL(image);
            }
        })


    </script>

</body>
</html>