{% extends "homePage/base.html" %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'style/homePageBookView.css' %}">
{% endblock style %}

{% block title %}Home - BookVerse{% endblock title %}

{% block content %}

    <div class="homePageCardsShow">

    {% for book in books %}
        <div class="card" id="card">
            <div class="imageWrapper" id="imageWrapper">
                <div class="image">
                    {% if book.image %}
                        <img src="{{ book.image.url }}" alt="{{ book.name }}">
                    {% else %}
                        <img src="http://127.0.0.1:8000/media/book_images/no_book_cover.jpg" alt="{{ book.name }}">
                    {% endif %}
                </div>
                <div class="info" id="info">
                    <p><i class='bx bx-like'></i> {{ book.likes_counter }}</p>
                    <p><i class='bx bx-comment' ></i> 0</p>
                    <p><i class='bx bx-star' ></i> {{ book.rating }}</p>
                    <div class="favourite">
                        <img {% if book in favorite_books %}src="{% static 'images/icons8-favorite-50-green.png' %}"{% else %}src="{% static 'images/icons8-favorite-50-white.png' %}"{% endif %} data-green-src="{% static 'images/icons8-favorite-50-green.png' %}" data-white-src="{% static 'images/icons8-favorite-50-white.png' %}" alt="">
                        {% if book in favorite_books %}<p>Added to Favorite</p>{% else %}<p>Add to Favorite</p>{% endif %}
                        <span style="display: none;">{{ book.id }}</span>
                    </div>
                </div>
            </div>
            <a href="{% url 'book_detail_view' book.id %}" class="bookname">
                <p class="booknameText">{{ book.name }}</p>
            </a>
            <a href="#" class="auther">
                <p class="autherName">{{ book.authors.name }}</p>
            </a>
        </div>
    {% endfor %}

    </div>

{% endblock content %}



<script>

</script>


{% block script %}
    <script src="{% static 'js/bookCard.js' %}"></script>
{% endblock script %}
