{% extends "account/base.html" %}

{% block title %}BookVerse - LogIn{% endblock title %}

{% block content %}
    {% load static %}

    <div class="container">
        <div class="signupProgress">
            <h1>BookVerse</h1>
        </div>
        <div class="signupForm">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="inputbox">
                    <input type="text" name="username" placeholder=" " required>
                    <div class="labelText">Username or Phone</div>
                </div>

                <div class="inputbox">
                    <img class="passwordShowOrHide" onclick="checkPassword(this)" data-show-src="{% static 'images/icons8-show-password-24.png' %}" data-hide-src="{% static 'images/icons8-hide-password-24.png' %}" src="{% static 'images/icons8-show-password-24.png' %}" alt="">
                    <input type="password" id="passwordFld" name="password" placeholder=" " required>
                    <div class="labelText">Password</div>
                    <img id="catImage" src="{% static 'images/dogImg.png' %}" alt="">
                </div>

                <input type="submit" value="LogIn" class="submitBtn">
            </form>
        </div>

        <div class="haveAccount">
            <p>Do not have an Account?</p>
            <a href="{% url 'create_account' %}">SingUp</a>
        </div>

        {% if messages %}
            <div class="messages">
            {% for message in messages %}
               <div class="message">{{ message }}</div>
            {% endfor %}
            </div>
        {% endif %}
    </div>


{% endblock %}