{% extends "account/base.html" %}

{% block title %}BookVerse - SignUp{% endblock title %}

{% block content %}
    {% load static %}

    <div class="container" >
        <div class="signupProgress">
            <h1>BookVerse</h1>
            <div class="signupstep">
                <div class="steps"><img src="{% static 'images/icons8-tick-black.png' %}" alt="">SingUp</div>
                <div class="steps"><img src="{% static 'images/icons8-tick-black.png' %}" alt="">Username</div>
                <div class="steps"><img src="{% static 'images/icons8-tick-black.png' %}" alt="">Profile Picture</div>
                <div class="steps"><img src="{% static 'images/icons8-tick-black.png' %}" alt="">Select Interest</div>
            </div>
        </div>
        <div class="signupForm">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="inputbox">
                    <input type="text" name="firstname" placeholder=" " required autocomplete="given-name">
                    <div class="labelText">First Name</div>
                </div>
            
                <div class="inputbox">
                    <input type="text" name="lastname" placeholder=" " required autocomplete="family-name">
                    <div class="labelText">Last Name</div>
                </div>
            
                <div class="inputbox">
                    <input type="tel" name="phone" placeholder=" " required autocomplete="tel">
                    <div class="labelText">Phone Number</div>
                </div>
            
                <div class="inputbox">
                    <input type="email" name="email" placeholder=" " autocomplete="email">
                    <div class="labelText">Email</div>
                </div>
            
                <div class="inputbox select-box">
                    <select name="gender" required autocomplete="sex">
                        <option value="" disabled selected></option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="other">Other</option>
                    </select>
                    <div class="labelText">Gender</div>
                </div>
            
                <div class="inputbox">
                    <img class="passwordShowOrHide" onclick="checkPassword(this)" data-show-src="{% static 'images/icons8-show-password-24.png' %}" data-hide-src="{% static 'images/icons8-hide-password-24.png' %}" src="{% static 'images/icons8-show-password-24.png' %}" alt="">
                    <input type="password" id="passwordFld" name="password" placeholder=" " required autocomplete="new-password">
                    <div class="labelText">Password</div>
                    <img id="catImage" src="{% static 'images/dogImg.png' %}" alt="">
                </div>
            
                <div class="inputbox">
                    <img class="passwordShowOrHide" onclick="checkPassword2(this)" data-show-src="{% static 'images/icons8-show-password-24.png' %}" data-hide-src="{% static 'images/icons8-hide-password-24.png' %}" src="{% static 'images/icons8-show-password-24.png' %}" alt="">
                    <input type="password" id="passwordConfirmFld" name="password_confirm" placeholder=" " required autocomplete="new-password">
                    <div class="labelText">Confirm Password</div>
                    <img id="catImage2" src="{% static 'images/catImage.png' %}" alt="">
                </div>
            
                <input type="submit" value="Next" class="submitBtn">
            </form>
        </div>

        <div class="haveAccount">
            <p>Already have an Account?</p>
            <a href="{% url 'login_user' %}">LogIn</a>
        </div>


        {% if messages %}
            <div class="messages">
            {% for message in messages %}
               <div class="message">{{ message }}</div>
            {% endfor %}
            </div>
        {% endif %}
    </div>

{% endblock content %}