{% extends "account/base.html" %}

{% block title %}BookVerse - Update Profile Image{% endblock title %}

{% block content %}
    {% load static %}

    <div class="container">
        <div class="signupProgress">
            <h1>BookVerse</h1>
            <div class="signupstep">
                <div class="steps greentext"><img src="{% static 'images/icons8-tick-green.png' %}" alt="">SingUp</div>
                <div class="steps greentext"><img src="{% static 'images/icons8-tick-green.png' %}" alt="">Username</div>
                <div class="steps"><img src="{% static 'images/icons8-tick-black.png' %}" alt="">Profile Picture</div>
                <div class="steps"><img src="{% static 'images/icons8-tick-black.png' %}" alt="">Select Interest</div>
            </div>
        </div>
        <div class="signupForm">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <input type="file" id="imageUpload" name="imageUpload" accept="image/*" hidden>
                <div class="img-area selectImage" data-img="">
                    <i class='bx bxs-cloud-upload icon'></i>
                    <h3>Upload Profile Picture</h3>
                    <p>Click to upload image</p>
                </div>
                <input type="submit" value="Next" class="submitBtn">
            </form>
        </div>

        {% if messages %}
            <div class="messages">
            {% for message in messages %}
               <div class="message">{{ message }}</div>
            {% endfor %}
            </div>
        {% endif %}
    </div>


    <script>
        const selectImage = document.querySelector('.selectImage');
        const inputFile = document.querySelector('#imageUpload');
        const imgArea = document.querySelector('.img-area');

        selectImage.addEventListener('click', function () {
            inputFile.click();
        });

        inputFile.addEventListener('change', function () {
            const image = this.files[0]
            const reader = new FileReader();
            reader.onload = ()=> {
                const allImg = imgArea.querySelectorAll('img');
                allImg.forEach(item=> item.remove());
                const imgUrl = reader.result;
                const img = document.createElement('img');
                img.src = imgUrl;
                imgArea.appendChild(img);
                imgArea.classList.add('active');
                imgArea.dataset.img = image.name;
            }
            reader.readAsDataURL(image);
        });
    </script>


{% endblock content %}