*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-moz-selection {
    color: #2af57e;
    background: #16a085;
}

::selection {
    color: #2ecc71;
    background: #0a614f;
}

::-webkit-scrollbar {
    width: 0;
}


.navbar{
    width: 100%;
    height: 18vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    transition: all 0.2s ease;
    z-index: 999;
}

.navbar .upperNav{
    width: 100%;
    height: 10vh;
    border-bottom: 1px solid #F5F5F5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    background-color: #fff;
}

.upperNav{
    .mainLogo{
        height: 100%;
        display: flex;
        align-items: center;
        img{
            height: 50%;
        }
    }
}

.searchBox{
    border: 1px solid #5DBF17;
    padding: 3px;
    background-color: #ffffff;
    position: relative;
    border-radius: 8px;

    form{
        display: flex;
        position: relative;

        .searchInput{
            position: relative;
            width: 25vw;

            input, p{
                position: absolute;
                font-family: "Poppins", system-ui;
                font-size: 1.1rem;
                font-weight: 300;
                transition: all 0.2s ease;
            }

            input{
                height: 100%;
                width: 100%;
                background-color: transparent;
                outline: none;
                border: none;
                padding-left: 10px;
                z-index: 2;
            }
            p{
                top: 50%;
                left: 10px;
                transform: translateY(-50%);
                opacity: 0.8;
            }

        }

        button{
            height: 40px;
            width: 10%;
            background-color: #5DBF17;
            border-radius: 7px;
            border: none;
            cursor: pointer;
            img{
                height: 70%;
            }
        }
    }
}

.searchInput input:not(:placeholder-shown) ~ .labelText {
    font-size: 1rem !important;
    opacity: 0 !important;
}

.searchBox .suggestions{
    position: absolute;
    top: 100%;
    left: 0;
    transform: translateY(2%);
    width: 100%;
    max-height: 30vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #DEF2C9;
    border-radius: 8px;
    transition: all 0.3s ease;
    z-index: 1000;

    .suggestedText{
        width: 98%;
        min-height: 5vh;
        background-color: #A1D979;
        margin-top: 7px;
        display: flex;
        align-items: center;
        padding-left: 8px;
        border-radius: 8px;
        font-family: "Poppins", system-ui;
        color: black;
        cursor: pointer;

        &:hover{
            background-color: #71BF39;
        }
    }

    .suggestedText:last-child{
        margin-bottom: 7px;
    }

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #acacac;
    }
}

.lowerSearchBox{
    scale: 0.9;
    display: none;
}

.profileInfo, .proImgWrapper{

    .signuporin{
        font-family: "Poppins", system-ui;
        font-size: 1rem;
        font-weight: 500;
        transition: all 0.2s ease;
        text-decoration: none;
        color: black;
        padding: 7px 25px;
        border-radius: 20px;

        &:first-child{
            border: 1px solid #e7e7e7;
            color: #5DBF17;

            &:hover{
                background-color: #f3f7f0;
            }
        }

        &:last-child{
            background-color: #5DBF17;
            color: #ffffff;

            &:hover{
                background-color: #4cac07;
            }
        }
    }


}

.profileImage{
    height: 7vh;
    width: 7vh;
    border-radius: 50%;
    cursor: pointer;

    img{
        height: 100%;
        width: 100%;
        border-radius: 50%;
        object-fit: cover;
    }
}

.proImgWrapper{
    display: none;
    gap: 10px;
}

.profileImage2{
    display: block;
    height: 6vh;
    width: 6vh;
}

.lowernavbar{
    width: 100%;
    height: 8vh;
    background-color: #ffffff;
    border-bottom: 1px solid #F5F5F5;
    box-shadow: 1px 1px 3px #bbbbbb7e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.lowernavbar .menuOptions #manu2ndLogo{
    display: none;
    width: 10rem;

    img{
        width: 75%;
    }
}

.lowernavbar .menuOptions{

    display: flex;
    align-items: center;

    .menuLinks{
        font-family: "Poppins", system-ui;
        font-size: 1rem;
        font-weight: 400;
        padding: 3px 5px;
        overflow: hidden;
        margin-right: 10px;
        position: relative;

        .linkWrapper{
            transition: all 0.2s ease;

            a{
                text-decoration: none;
                color: black;
                transition: all 0.2s ease;
            }
        }
    }

    .menuLinks:hover .linkWrapper{
        transform: translateY(-52%);
        a{
            color: #4cac07;
        }
    }
}


.helpLine{
    font-family: "Poppins", system-ui;
    height: 100%;
    display: flex;
    align-items: center;

    .helpLineImage{
        height: 100%;
        display: flex;
        align-items: center;

        img{
            height: 70%;
        }
    }

    .helpLineText{
        h3{
            font-size: 1.5rem;
            margin-left: 10px;
            color: #61e403;
        }
        p{
            font-size: 0.8rem;
            margin-left: 10px;
            color: #000000;
            font-weight: 300;
        }
    }
}


.NavbarCover{
    width: 100%;
    height: 18vh;
    background-color: #fdfdfd;
}

.highlight {
    background-color: #d89999b0;
}

.footer{
    width: 100%;
    font-family: "Roboto Condensed", serif;
}

.footer .ftitle{
    width: 100%;
    background-color: #131313;
    padding-left: 2.5%;
    padding-top: 25px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    font-size: 4rem;
    font-weight: 600;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}
.footer .flinks{
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #131313;

    p{
        font-size: 1.7rem;
        font-weight: 400;
        color: #ffffff;
    }

    .linkDiv1, .linkDiv2, .smallLink{
        display: flex;
        flex-direction: column;
        gap: 10px;

        a{
            color: white;
            text-decoration: none;
            transition: all 0.2s ease;
            &:hover{
                color: #5cc90e;
            }
        }
    }

    .linkDiv1, .linkDiv2{
        font-size: 4rem;
        font-weight: 700;
    }

    .smallLink{
        font-size: 1.7rem;
        font-weight: 400;
        color: #ffffff;
        transition: all 0.2s ease;
        &:hover{
            color: #5DBF17;
            cursor: pointer;
        }
    }
}


.sideMenu{
    position: fixed;
    height: 100vh;
    width: 18vw;
    background-color: #ffffff;
    z-index: 100999;
    right: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 20px 10px;
    transition: all 0.3s ease;
    transform: translateX(18vw);
}

.sideMenuCover{
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0;
    z-index: 100998;
    background-color: #13131338;
    transition: all 0.3s ease;
    display: none;
}

.sideMenu{

    .proInfo{
        display: flex;
        align-items: center;
        padding: 3px 5px;
        border-radius: 7px;
        transition: all 0.1s ease;
        width: 100%;


        .proImageInSideMenu{
            height: 5vh;
            width: 5vh;

            img{
                height: 100%;
                width: 100%;
                border-radius: 50%;
                object-fit: cover;
            }
        }

        .nameAndUsername{
            font-family: "Roboto Condensed", serif;
            color: rgb(0, 0, 0);

            p:first-child {
                font-weight: 500;
                margin-left: 5px;
            }
            p:last-child {
                font-weight: 300;
                font-size: 0.8rem;
                margin-left: 5px;
            }
        }

        .closeBtn{
            height: 4.5vh;
            width: 4.5vh;
            margin-left: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 7px;
            transition: all 0.1s ease;
            cursor: pointer;

            img{
                height: 60%;
            }

            &:hover{
                background-color: #dfdfdf;
            }
        }

    }

    .setProfile{
        margin-top: 30px;
    }

    .intersection{
        margin-top: 7px;
        width: 100%;
        height: 1px;
        background-color: #dfdfdf;
        margin-bottom: 6px;
    }

}

.genericStyle{
    width: 100%;
    height: 4vh;
    border-radius: 7px;
    transition: all 0.1s ease;
    padding: 0 10px;
    text-decoration: none;
    margin-top: 1px;

    img{
        height: 65%;
        margin-right: 5px;
    }

    p{
        font-family: "Roboto Condensed", serif;
        font-size: 0.95rem;
        color: #131313;
    }

    &:hover{
        background-color: #dfdfdf;
    }
}

.flex{
    display: flex;
    align-items: center;
    flex-direction: row;
}