{% extends '../homePage/base.html' %}
{% load static %}

{% block title %}{{ title_text }}{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static 'style/yourCommentStyle.css' %}">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <style>

    h1 {
        margin-bottom: 20px;
        padding-left: 20px;
    }
  </style>
{% endblock %}


{% block content %}

  {% if True %}
    <div class="comments-grid-container">

      {% for book in books %}
        <div class="comment-card">

          {# Book Cover #}
          <img src="{{ book.image.url |default:'/static/images/placeholder_cover.png' }}"
               alt="{{ book.name }} Cover"
               class="comment-card__cover">


          <div class="comment-card__content">


            <h3 class="comment-card__title">
                 <a href="{% url 'book_detail_view' pk=book.id %}">
                     {{ book.name }}
                 </a>
            </h3>


            <p class="comment-card__text">
                {{ book.description }}
            </p>


            <div class="comment-card__rating">
                {% with rating=book.rating|default:0 %}
                    {% for i in "12345" %}
                        {% if i|add:"0" <= rating %}
                            <i class="fas fa-star"></i>
                        {% else %}
                            <i class="far fa-star"></i>
                        {% endif %}
                    {% endfor %}
                 {% endwith %}
            </div>
            <a href="{% url 'move_to_Currently_Reading_Books' book.id %}" class="movetoCurrent">Move to Currently Reading</a>
          </div>
        </div>
      {% endfor %}

    </div>
  {% else %}
    <div style="padding: 20px;">
        <p>You haven't commented on any books yet.</p>
    </div>
  {% endif %}

{% endblock %}