<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    
    <div class="upperBox">
        <div class="chatbox">
            <div class="leftText" id="leftText">
                <p></p>
            </div>
            <div class="rightText" id="rightText">
                <p id="output" ></p>
            </div>
        </div>
    </div>




    <div class="lowerBox">
        <input type="text" name="inputText" id="inputText" placeholder="Write something here"></input>
        <button onclick="habijabi()"><i class='bx bx-send'></i></button>
    </div>



    <script src="js/app.js"></script>

</body>
</html>